.indexmain,
.contactmain {
  /*main content for index and contact*/
  flex: 1 0 auto; /*part of flexbox-0sticky footer/* Prevent Chrome, Opera, and Safari from
      letting these items shrink to smaller than their content's
      default minimum size. */
  padding: 20px;
  margin: 0 0 20px 0;
}

html {
  border-color: darkgray;
}

q {
  font-family: parkavenue, cursive, serif;
}

/* checked */
.dub-border {
  border-style: double;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

/* need anvil class */

/* checked */
.leftWhite {
  float: left;
  color: white;
}

/* checked */
#textright {
  text-align: right;
}
/* NOT USED */
#textcenter {
  text-align: center;
}

/* NOT USED */

#full-flex {
  /*flex box that works with sticky footer*/
  margin: 0;
  font: 16px Arial; /* per specs*/
  display: flex; /*part of flexbox-0sticky footer*/
  flex-direction: column; /*part of flexbox-0sticky footer*/
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  width: 960px;
  margin: auto;
}


